.Wrapper {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.JobCardsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  row-gap: 4rem;
  column-gap: 2rem;
  justify-items: center;
}

.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.NoJobForFilter {
  margin-left: 3rem;
}
@media screen and (max-width: 1250px) {
  .JobCardsWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .JobCardsWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
