.Wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.SearchCompanyInput {
  border: 1px solid var(--filter-color);
  border-radius: 0.4rem;
  height: 3.8rem;
  padding: 0.2rem 0.8rem;
}
